{% extends 'base-admin.html' %}

{% block title %}
Admin Temuan.id - Update
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Update {{item.1}}</h3>
            <form action="/update_process" method="post" enctype="multipart/form-data"
                onsubmit="return confirm('Sudah yakin dengan data yang dimasukkan?');">
                <input type="hidden" name="id" value="{{item.0}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Judul</label>
                    <input type="text" class="form-control" id="title" name="title"
                        placeholder="'Kehilangan sepatu futsal' atau 'Menemukan ktp atas nama Naruto'"
                        value="{{item.1}}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Deskripsi</label>
                    <textarea class="form-control" id="description" rows="3" name="description"
                        placeholder="Info detail tentang barang kehilangan">{{item.2}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Lokasi</label>
                    <input type="text" class="form-control" id="location" name="location"
                        placeholder="Contoh: Depan gerbang selatan amikom yogyakarta" value="{{item.4}}">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Nomor Whatsapp</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="08xxxxxx"
                        value="{{item.5}}">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Tanggal Kejadian</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{item.7}}">
                </div>
                <div class="mb-3">
                    <label for="jenis" class="form-label">Jenis</label>
                    <select class="form-select" aria-label="Jenis" name="type" required>
                        <option selected>Pilih Jenis</option>
                        <option value="kehilangan" {% if item.6=='kehilangan' %} selected="selected" {% endif %}>
                            Kehilangan</option>
                        <option value="temuan" {% if item.6=='temuan' %} selected="selected" {% endif %}>Temuan</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Gambar</label><br>
                    <div class="mb-3">
                        <img src="/static/img/{{item.3}}" alt="gambar temuan update" class="img-update">
                        <span>Gambar sebelumnya</span>
                    </div>
                    <input type="file" name="file" id="img" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}